<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="nutricion">
      <h2 data-cy="nutricionDetailsHeading"><span jhiTranslate="gymRubenApp.nutricion.detail.title">Nutricion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ nutricion.id }}</span>
        </dd>
        <dt><span jhiTranslate="gymRubenApp.nutricion.nombrePlanNutricion">Nombre Plan Nutricion</span></dt>
        <dd>
          <span>{{ nutricion.nombrePlanNutricion }}</span>
        </dd>
        <dt><span jhiTranslate="gymRubenApp.nutricion.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ nutricion.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="gymRubenApp.nutricion.tipoDieta">Tipo Dieta</span></dt>
        <dd>
          <span>{{ nutricion.tipoDieta }}</span>
        </dd>
        <dt><span jhiTranslate="gymRubenApp.nutricion.alimentosRecomendados">Alimentos Recomendados</span></dt>
        <dd>
          <span>{{ nutricion.alimentosRecomendados }}</span>
        </dd>
        <dt><span jhiTranslate="gymRubenApp.nutricion.instrucciones">Instrucciones</span></dt>
        <dd>
          <span>{{ nutricion.instrucciones }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/nutricion', nutricion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
