<div style="color: rgb(119, 138, 250);background-color: #ffffff ; width: 1330px;margin-left: -20px;margin-top: -25px;margin-bottom: -20px;">
  <div class="contenido">
    <div class="titulo" style="width: 1320px;margin-left: -10px;margin-top:-0px;">
      <h2 style="color: rgb(119, 138, 250);">Clases Online</h2>
    <div class="button-section">
      <button type="button">
        <input type="text" placeholder="{{ clasesOnline?.codigo }}" [(ngModel)]="uuid"  />
        <fa-icon  icon="search"></fa-icon>
        <span >Encuentra tu Clase</span>
      </button>
    </div>
  </div>
  <br>
  <br>
  <div *ngIf="clasesOnline">
    <div class="row g-2" style="width: 1910px;">
      <div class="col-8">
        <div class="fondo-gris h-98 p-5px">  
          <h5 class="borde-bottom">
            <strong>Clase nº {{ clasesOnline.codigo }}</strong>
          </h5>
          <h6>
            <strong>Para acceder a la clase online accede a este link de youtube para que te lleve al canal y puedas conectarte a la clase online</strong>
          </h6>
          <button onclick="window.open('https://www.youtube.com/channel/UCYRjKaICeBYAFop_DsG5nog','_blank');" style="text-decoration: none;border: none;background-color:#03748320;border-radius: 10%;color: rgb(119, 138, 250);">Canal Youtube</button>
          <br>
          <br>
          <h6><strong>Titulo</strong></h6>
          <p>{{ clasesOnline.nombreClase }}</p>
          <h6><strong>Descripción</strong></h6>
          <quill-view [content]="clasesOnline.descripcion"></quill-view>
          <h6><strong>Fecha Clase</strong></h6>
          <quill-view [content]="clasesOnline.fechaClase"></quill-view>
          <h6><strong>Hora Clase</strong></h6>
          <quill-view [content]="clasesOnline.horaClase"></quill-view>
        </div>
      </div>
   
    </div>
    <br>
    <br>
    <div>
      <h2 style="text-align: center;color: rgb(119, 138, 250);">Por si al final no puedes conectarte a la clase online aqui<br> te dejamos videos para q puedas hacer en tu casa </h2>
      <br>
    <iframe width="560" height="315" [src]="getVideoIframe(clasesOnline.videoId)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 350px;"></iframe>
  </div>
  <br>
<br>
<br>
<br>
    <div class="row">
      <div class="col-8">
        <div class="fondo-gris">
          <h5><strong>Chat</strong></h5>
          <div class="chat" #divScroll (scroll)="onScroll($event)" *ngIf="comentariosBuscados && comentariosBuscados.length > 0">
            <div
              *ngFor="let comentario of comentariosBuscados"
              [ngClass]="{ 'mb-3': comentario.descripcion || comentario.ficheros!.length > 0 }"
            >
              <div
                class="gris"
                *ngIf="comentario.descripcion !== null || comentario.ficheros?.length"
                [ngClass]="{ enviado: comentario.creador === 'ANÓNIMO', recibido: comentario.creador !== 'ANÓNIMO' }"
              >
                <label class="fs-sm"> {{ comentario.creador }}:{{ comentario.fechaCreacion?.fromNow() }} </label>
              </div>
              <div
                *ngIf="comentario.descripcion !== null"
                [ngClass]="{ enviado: comentario.creador === 'ANÓNIMO', recibido: comentario.creador !== 'ANÓNIMO' }"
              >
                <div [ngClass]="{ mensajeEnv: comentario.creador === 'ANÓNIMO', mensajeRec: comentario.creador !== 'ANÓNIMO' }">
                  <quill-view [content]="comentario.descripcion"></quill-view>
                </div>
              </div>
              <div
                [ngClass]="{ enviado: comentario.creador === 'ANÓNIMO', recibido: comentario.creador !== 'ANÓNIMO' }"
                *ngFor="let fichero of comentario.ficheros"
                (mousedown)="descargar(fichero)"
              >
                <div
                  class="fichero-div"
                  [ngClass]="{ mensajeEnv: comentario.creador === 'ANÓNIMO', mensajeRec: comentario.creador !== 'ANÓNIMO' }"
                >
                  <div>
                    <fa-icon *ngIf="fichero.contentType?.includes('image')" icon="file-image" class="fichero-logo img-col"> </fa-icon>
                    <fa-icon *ngIf="fichero.contentType?.includes('pdf')" icon="file-pdf" class="fichero-logo pdf-col"></fa-icon>
                    <fa-icon *ngIf="fichero.contentType?.includes('sheet')" icon="file-excel" class="fichero-logo sheet-col"> </fa-icon>
                    <fa-icon
                      *ngIf="
                        !fichero.contentType?.includes('sheet') &&
                        !fichero.contentType?.includes('pdf') &&
                        !fichero.contentType?.includes('image')
                      "
                      icon="file"
                      class="fichero-logo"
                    >
                    </fa-icon>
                  </div>
                  <div>
                    {{ fichero.nombre.substring(0, fichero.nombre.lastIndexOf('-')) }}
                    <br />
                    <label class="gris fs-sm"> {{ (fichero.tamano! / 1024).toFixed(2) }}KB </label>
                  </div>
                  <div>
                    <fa-icon icon="download" class="fa-descarga"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="bajar" id="miBoton" *ngIf="!showBajar">
              <button class="btn btn-chat" (click)="scroll()">
                <fa-icon icon="arrow-down"></fa-icon>
                bajar
              </button>
            </div>
            <div id="scroll"></div>
          </div>
          <div>
            <jhi-comentario-clase-update (guardado)="cargaDatos()"> </jhi-comentario-clase-update>
          </div>
        </div>
      </div>
      
      <div class="col-4">
        
        <div class="btn-salir">
          <button class="btn btn-primary btn-volver" (click)="previousState()">volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>

