<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="clasesOnline">
      <h2 data-cy="clasesOnlineDetailsHeading"><span jhiTranslate="gymRubenApp.clasesOnline.detail.title">Clases Online</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ clasesOnline.id }}</span>
        </dd>
        <dt><span jhiTranslate="gymRubenApp.clasesOnline.nombreClase">Nombre Clase</span></dt>
        <dd>
          <span>{{ clasesOnline.nombreClase }}</span>
        </dd>
        <dt><span jhiTranslate="gymRubenApp.clasesOnline.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ clasesOnline.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="gymRubenApp.clasesOnline.horario">Horario</span></dt>
        <dd>
          <span>{{ clasesOnline.fechaClase }}</span>
        </dd>
        <dt><span jhiTranslate="gymRubenApp.clasesOnline.instructor">Instructor</span></dt>
        <dd>
          <span>{{ clasesOnline.instructor }}</span>
        </dd>
        <dt><span jhiTranslate="gymRubenApp.clasesOnline.participantesInscritos">Participantes Inscritos</span></dt>
        <dd>
          <span>{{ clasesOnline.horaClase }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/clases-online', clasesOnline.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
