<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-nutricion-heading" data-cy="NutricionCreateUpdateHeading" jhiTranslate="gymRubenApp.nutricion.home.createOrEditLabel">
        Crear o editar Nutricion
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymRubenApp.nutricion.nombrePlanNutricion" for="field_nombrePlanNutricion"
            >Nombre Plan Nutricion</label
          >
          <input
            type="text"
            class="form-control"
            name="nombrePlanNutricion"
            id="field_nombrePlanNutricion"
            data-cy="nombrePlanNutricion"
            formControlName="nombrePlanNutricion"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymRubenApp.nutricion.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymRubenApp.nutricion.tipoDieta" for="field_tipoDieta">Tipo Dieta</label>
          <input type="text" class="form-control" name="tipoDieta" id="field_tipoDieta" data-cy="tipoDieta" formControlName="tipoDieta" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymRubenApp.nutricion.alimentosRecomendados" for="field_alimentosRecomendados"
            >Alimentos Recomendados</label
          >
          <input
            type="text"
            class="form-control"
            name="alimentosRecomendados"
            id="field_alimentosRecomendados"
            data-cy="alimentosRecomendados"
            formControlName="alimentosRecomendados"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymRubenApp.nutricion.instrucciones" for="field_instrucciones">Instrucciones</label>
          <input
            type="text"
            class="form-control"
            name="instrucciones"
            id="field_instrucciones"
            data-cy="instrucciones"
            formControlName="instrucciones"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
