<div>
  <h2 id="page-heading" data-cy="DeportesHeading">
    <span jhiTranslate="gymRubenApp.deportes.home.title">Deportes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gymRubenApp.deportes.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-deportes"
        [routerLink]="['/deportes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gymRubenApp.deportes.home.createLabel"> Crear nuevo Deportes </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="deportes?.length === 0">
    <span jhiTranslate="gymRubenApp.deportes.home.notFound">Ningún Deportes encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="deportes && deportes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreDeporte">
            <div class="d-flex">
              <span jhiTranslate="gymRubenApp.deportes.nombreDeporte">Nombre Deporte</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <div class="d-flex">
              <span jhiTranslate="gymRubenApp.deportes.descripcion">Descripcion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaDeporte">
            <div class="d-flex">
              <span >Fecha Deporte</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="horaDeporte">
            <div class="d-flex">
              <span >Hora Deporte</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="instructor">
            <div class="d-flex">
              <span >Instructor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codigo">
            <div class="d-flex">
              <span >Codigo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deportes of deportes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/deportes', deportes.id, 'view']">{{ deportes.id }}</a>
          </td>
          <td>{{ deportes.nombreDeporte }}</td>
          <td>{{ deportes.descripcion }}</td>
          <td>{{ deportes.horaDeporte }}</td>
          <td>{{ deportes.fechaDeporte }}</td>
          <td>{{ deportes.instructor }}</td>
          <td>{{ deportes.codigo?.slice(-6) }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/deportes', deportes.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/deportes', deportes.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(deportes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
