<div>
  <h2 id="page-heading" data-cy="DeportesHeading">
    <span>Deportes</span>


  </h2>
  <br>
  
  <div class="d-flex">
    <div style="margin-left: 32px">
      <div>
        <label for="itemsPerPage" style="font-weight: bold; margin-left: -30px;">Mostrar: </label>
        <select id="itemsPerPage" [(ngModel)]="itemsPerPage" style="background-color: transparent; border: none; font-weight: bold">
          <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
        </select>
        <span style="font-weight: bold"> registros</span>
      </div>
    </div>
    <div class="d-flex ml-auto">
      <div>
        <div style="margin-right: 20px">
          <input
            style="height: 28px; width: 85%"
            type="text"
            placeholder="Buscar por nombre"
            [(ngModel)]="filter.nombre"
            (keyup)="load()"
          />
        </div>
      </div>
      <div>
        <div style="margin-right: 20px">
          <input
            style="height: 28px; width: 85%"
            type="text"
            placeholder="Buscar por codigo"
            [(ngModel)]="filter.codigo"
            (keyup)="load()"
          />
        </div>
      </div>
       <div>
        <input type="date" id="fechaInicio" name="fechaInicio" (change)="setFechaInicio($event)" />
      </div>
      <div>
        <div style="height: 30px; width: 2px; background-color: #414141; margin: 0 10px; transform: rotate(20deg)"></div>
      </div>
      <div style="margin-right: 18px">
        <input type="date" id="fechaFin" name="fechaFin" (change)="setFechaFin($event)" />
      </div>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
<br>

  <div class="alert alert-warning" id="no-result" *ngIf="deportes?.length === 0">
    <span jhiTranslate="gymRubenApp.deportes.home.notFound">Ningún Deportes encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="deportes && deportes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreDeporte">
            <div class="d-flex">
              <span jhiTranslate="gymRubenApp.deportes.nombreDeporte">Nombre Deporte</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <div class="d-flex">
              <span >Descripcion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaDeporte">
            <div class="d-flex">
              <span >Fecha Deporte</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="horaDeporte">
            <div class="d-flex">
              <span >Hora Deporte</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="instructor">
            <div class="d-flex">
              <span >Instructor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codigo">
            <div class="d-flex">
              <span >Codigo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user">
            <div class="d-flex">
              <span >usuarioId</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deportes of deportes; trackBy: trackId" data-cy="entityTable"
          (click)="verDeportes(deportes.id)"
          [ngClass]="['pointer-cursor']"
        >
           <td>{{ deportes.id }}</td>
          <td>{{ deportes.nombreDeporte }}</td>
          <td>{{ deportes.descripcion }}</td>
          <td>{{ deportes.horaDeporte }}</td>
          <td>{{ deportes.fechaDeporte }}</td>
          <td>{{ deportes.instructor }}</td>
          <td>{{ deportes.codigo?.slice(-6) }}</td>
          <td>{{ deportes.user}}</td>
          <td class="text-end">
            <div class="btn-group">
           
              <button type="submit" (click)="delete(deportes,$event)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <div style="margin-left: 30px">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }" class="bold-text"></jhi-item-count>
      </div>
    </div>
    <div class="modern-pagination">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="load()"
      ></ngb-pagination>
    </div>
  </div>
</div>
