<div class="contenido">
  <div class="titulo">
    <h2 style="color: rgb(119, 138, 250);">Planes Entrenamiento</h2>
    <div class="button-section">
      <button type="button">
        <input type="text" placeholder="{{ plan?.codigo }}" [(ngModel)]="uuid"  />
        <fa-icon  icon="search"></fa-icon>
        <span >Encuentra tu Plan</span>
      </button>
    </div>
  </div>
  <br>
  <br>
  <div *ngIf="plan">
    <div class="row g-2" style="width: 1695px;">
      <div class="col-9">
        <div class="fondo-gris h-98 p-5px">
          <h5 class="borde-bottom">
            <strong>Deporte nº {{ plan.codigo?.slice(-6) }}</strong>
          </h5>
          <p><strong>Titulo</strong></p>
          <p class="p-l-15">{{ plan.nombrePlan }}</p>
          <p class="p-l-15 mb-5px"><strong>Descripción</strong></p>
          <quill-view [content]="plan.descripcion"></quill-view>
          <p class="p-l-15"><strong>Instrucciones Nutricion</strong></p>
          <p class="p-l-15">{{ plan.instruccionesNutricion }}</p>
        </div>
      </div>
   
    </div>
    <br>
    <br>
    <div>
      <h2 style="text-align: center;">Videos de planes de entrenamiento </h2>
      <br>
    <iframe width="560" height="315" [src]="getVideoIframe(plan.videoId)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 350px;"></iframe>
  </div>
  <br>
  <br>
  <div>
    <h2 style="text-align: center;">Videos de planes de nutricion para los planes entrenamiento </h2>
    <br>
  <iframe width="560" height="315" [src]="getVideoIframe(plan.videoNutricion)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 350px;"></iframe>
</div>
<br>
<br>
<br>
    <div class="row">
      <div class="col-8">
        <div class="fondo-gris">
          <h5><strong>Comentarios</strong></h5>
          <div class="chat" #divScroll (scroll)="onScroll($event)" *ngIf="comentariosBuscados && comentariosBuscados.length > 0">
            <div
              *ngFor="let comentario of comentariosBuscados"
              [ngClass]="{ 'mb-3': comentario.descripcion || comentario.ficheros!.length > 0 }"
            >
              <div
                class="gris"
                *ngIf="comentario.descripcion !== null || comentario.ficheros?.length"
                [ngClass]="{ enviado: comentario.creador === 'ANÓNIMO', recibido: comentario.creador !== 'ANÓNIMO' }"
              >
                <label class="fs-sm"> {{ comentario.creador }}:{{ comentario.fechaCreacion?.fromNow() }} </label>
              </div>
              <div
                *ngIf="comentario.descripcion !== null"
                [ngClass]="{ enviado: comentario.creador === 'ANÓNIMO', recibido: comentario.creador !== 'ANÓNIMO' }"
              >
                <div [ngClass]="{ mensajeEnv: comentario.creador === 'ANÓNIMO', mensajeRec: comentario.creador !== 'ANÓNIMO' }">
                  <quill-view [content]="comentario.descripcion"></quill-view>
                </div>
              </div>
              <div
                [ngClass]="{ enviado: comentario.creador === 'ANÓNIMO', recibido: comentario.creador !== 'ANÓNIMO' }"
                *ngFor="let fichero of comentario.ficheros"
                (mousedown)="descargar(fichero)"
              >
                <div
                  class="fichero-div"
                  [ngClass]="{ mensajeEnv: comentario.creador === 'ANÓNIMO', mensajeRec: comentario.creador !== 'ANÓNIMO' }"
                >
                  <div>
                    <fa-icon *ngIf="fichero.contentType?.includes('image')" icon="file-image" class="fichero-logo img-col"> </fa-icon>
                    <fa-icon *ngIf="fichero.contentType?.includes('pdf')" icon="file-pdf" class="fichero-logo pdf-col"></fa-icon>
                    <fa-icon *ngIf="fichero.contentType?.includes('sheet')" icon="file-excel" class="fichero-logo sheet-col"> </fa-icon>
                    <fa-icon
                      *ngIf="
                        !fichero.contentType?.includes('sheet') &&
                        !fichero.contentType?.includes('pdf') &&
                        !fichero.contentType?.includes('image')
                      "
                      icon="file"
                      class="fichero-logo"
                    >
                    </fa-icon>
                  </div>
                  <div>
                    {{ fichero.nombre.substring(0, fichero.nombre.lastIndexOf('-')) }}
                    <br />
                    <label class="gris fs-sm"> {{ (fichero.tamano! / 1024).toFixed(2) }}KB </label>
                  </div>
                  <div>
                    <fa-icon icon="download" class="fa-descarga"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="bajar" id="miBoton" *ngIf="!showBajar">
              <button class="btn btn-chat" (click)="scroll()">
                <fa-icon icon="arrow-down"></fa-icon>
                bajar
              </button>
            </div>
            <div id="scroll"></div>
          </div>
          <div>
            <jhi-comentario-entrenamiento-update (guardado)="cargaDatos()"> </jhi-comentario-entrenamiento-update>
          </div>
        </div>
      </div>
      <div class="col-4">
       
        <div class="btn-salir">
          <button class="btn btn-primary btn-volver" (click)="previousState()">volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br><br>

<br>
<br>
<br>
<br>
<br>

