<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="claseOnline">
     <h4>{{claseOnline.nombreClase}}</h4>
     <h4>{{claseOnline.descripcion}}</h4>
      <iframe width="560" height="315" [src]="getVideoIframe(claseOnline.videoId)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

   
    </div>
    <div *ngIf="!claseOnline" class="alert alert-warning" id="no-result">
      <span >Ningún Empresa Denuncias encontrado</span>
    </div>
  </div>
</div>
