<div>
  <h2 id="page-heading" data-cy="VideosClaseOnlineHeading">
    <span jhiTranslate="gymRubenApp.videosClaseOnline.home.title">Videos Clase Onlines</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gymRubenApp.videosClaseOnline.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-videos-clase-online"
        [routerLink]="['/videos-clase-online/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gymRubenApp.videosClaseOnline.home.createLabel"> Crear nuevo Videos Clase Online </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="videosClaseOnlines?.length === 0">
    <span jhiTranslate="gymRubenApp.videosClaseOnline.home.notFound">Ningún Videos Clase Onlines encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="videosClaseOnlines && videosClaseOnlines.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tituloVideo">
            <div class="d-flex">
              <span jhiTranslate="gymRubenApp.videosClaseOnline.tituloVideo">Titulo Video</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descripcionVideo">
            <div class="d-flex">
              <span jhiTranslate="gymRubenApp.videosClaseOnline.descripcionVideo">Descripcion Video</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="urlVideo">
            <div class="d-flex">
              <span jhiTranslate="gymRubenApp.videosClaseOnline.urlVideo">Url Video</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="duracion">
            <div class="d-flex">
              <span jhiTranslate="gymRubenApp.videosClaseOnline.duracion">Duracion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="claseOnline.id">
            <div class="d-flex">
              <span jhiTranslate="gymRubenApp.videosClaseOnline.claseOnline">Clase Online</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let videosClaseOnline of videosClaseOnlines; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/videos-clase-online', videosClaseOnline.id, 'view']">{{ videosClaseOnline.id }}</a>
          </td>
          <td>{{ videosClaseOnline.tituloVideo }}</td>
          <td>{{ videosClaseOnline.descripcionVideo }}</td>
          <td>{{ videosClaseOnline.urlVideo }}</td>
          <td>{{ videosClaseOnline.duracion }}</td>
          <td>
            <div *ngIf="videosClaseOnline.claseOnline">
              <a [routerLink]="['/clases-online', videosClaseOnline.claseOnline.id, 'view']">{{ videosClaseOnline.claseOnline.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/videos-clase-online', videosClaseOnline.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/videos-clase-online', videosClaseOnline.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(videosClaseOnline)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
