<div>
  <h2 id="page-heading" data-cy="ClasesOnlineHeading">
    <span jhiTranslate="gymRubenApp.clasesOnline.home.title">Clases Onlines</span>
  </h2>
<br>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <div class="d-flex">
    <div style="margin-left: 32px">
      <div>
        <label for="itemsPerPage" style="font-weight: bold; margin-left: -30px;">Mostrar: </label>
        <select id="itemsPerPage" [(ngModel)]="itemsPerPage" style="background-color: transparent; border: none; font-weight: bold">
          <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
        </select>
        <span style="font-weight: bold"> registros</span>
      </div>
    </div>
    <div class="d-flex ml-auto">
      <div>
        <div style="margin-right: 20px">
          <input
            style="height: 28px; width: 85%"
            type="text"
            placeholder="Buscar por nombre"
            [(ngModel)]="filter.nombre"
            (keyup)="load()"
          />
        </div>
      </div>
      <div>
        <div style="margin-right: 20px">
          <input
            style="height: 28px; width: 85%"
            type="text"
            placeholder="Buscar por codigo"
            [(ngModel)]="filter.codigo"
            (keyup)="load()"
          />
        </div>
      </div>
       <div>
        <input type="date" id="fechaInicio" name="fechaInicio" (change)="setFechaInicio($event)" />
      </div>
      <div>
        <div style="height: 30px; width: 2px; background-color: #414141; margin: 0 10px; transform: rotate(20deg)"></div>
      </div>
      <div style="margin-right: 18px">
        <input type="date" id="fechaFin" name="fechaFin" (change)="setFechaFin($event)" />
      </div>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="clasesOnlines?.length === 0">
    <span jhiTranslate="gymRubenApp.clasesOnline.home.notFound">Ningún Clases Onlines encontrado</span>
  </div>
  <br>
  <div class="table-responsive table-entities" id="entities" *ngIf="clasesOnlines && clasesOnlines.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreClase">
            <div class="d-flex">
              <span jhiTranslate="gymRubenApp.clasesOnline.nombreClase">Nombre Clase</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <div class="d-flex">
              <span jhiTranslate="gymRubenApp.clasesOnline.descripcion">Descripcion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaClase">
            <div class="d-flex">
              <span >Fecha Clase</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="instructor">
            <div class="d-flex">
              <span jhiTranslate="gymRubenApp.clasesOnline.instructor">Instructor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
      
          <th scope="col" jhiSortBy="horaClase">
            <div class="d-flex">
              <span >Hora Clase</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="codigo">
            <div class="d-flex">
              <span >Codigo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="videoId">
            <div class="d-flex">
              <span >Video</span>
            
            </div>
          </th>
          <th scope="col" jhiSortBy="user">
            <div class="d-flex">
              <span >usuarioId</span>
       
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clasesOnline of clasesOnlines; trackBy: trackId" data-cy="entityTable"
        (click)="verClasesOnline(clasesOnline.id)"
        [ngClass]="['pointer-cursor']"
      >
          <td>{{ clasesOnline.id }}</td>
          <td>{{ clasesOnline.nombreClase }}</td>
          <td>{{ clasesOnline.descripcion }}</td>
          <td>{{ clasesOnline.fechaClase }}</td>
          <td>{{ clasesOnline.instructor }}</td>
          <td>{{ clasesOnline.horaClase }}</td>
          <td>{{ clasesOnline.codigo?.slice(-6) }}</td>
          <td>{{ clasesOnline.videoId }}</td>
          <td>{{ clasesOnline.user?.id}}</td>
      
          <td class="text-end">
            <div class="btn-group">
             
              <button type="submit" (click)="delete(clasesOnline,$event)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <div style="margin-left: 30px">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }" class="bold-text"></jhi-item-count>
      </div>
    </div>
    <div class="modern-pagination">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="load()"
      ></ngb-pagination>
    </div>
  </div>
</div>
