<div class="d-flex justify-content-center">

  <div *ngIf="!guardado; else elseBlockGuardado">   
    <h2 >Apuntate a las clases online</h2>
    <div class="row g-2 align-items-center d-flex justify-content-end">
      <div class="col-auto">
        <input type="text" placeholder="Código de seguimiento" [(ngModel)]="uuid" />
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-dark btn-sm" [routerLink]="['/clases-online', uuid, 'acceder']">
          <fa-icon icon="search"></fa-icon>&nbsp;
          <span jhiTranslate="entity.action.search">Buscar</span>
        </button>
      </div>
    </div>
    <form
      name="editForm"
      role="form"
      novalidate
      (ngSubmit)="save()"
      [formGroup]="editForm"
      id="formulario"
      *ngIf="nuevaConsulta && !guardado"
    >
      <div>
        <jhi-alert-error></jhi-alert-error>
        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymRubenApp.clasesOnline.nombreClase" for="field_nombreClase">Nombre Clase</label>
          <input
            type="hidden"
            class="form-control"
            name="nombreClase"
            id="field_nombreClase"
            data-cy="nombreClase"
            formControlName="nombreClase"
            [(ngModel)]="claseSeleccionado"
          />
        </div>
        <div style="display:flex;justify-content: space-around ; margin: 10px;">
          <figure style="text-align: center;margin-bottom: 10px;" (click)="seleccionarDeporte('EntrenamientoFuncional')" (click)="mostrarDetalles('EntrenamientoFuncional')" >
          <img src="../../content/funcional.png" style="width:170px;height: 130px;">
          <figcaption>Entrenamiento Funcional</figcaption>
        </figure>
        <figure style="text-align: center;margin-bottom: 10px;" (click)="seleccionarDeporte('Yoga')" (click)="mostrarDetalles('Yoga')">
          <img src="../../content/yoga.png" style="width:170px;height: 130px;">
          <figcaption>Yoga</figcaption>
        </figure>
        <figure style="text-align: center;margin-bottom: 10px;" (click)="seleccionarDeporte('HIIT')" (click)="mostrarDetalles('HIIT')">
          <img src="../../content/hiit.png" style="width:170px;height: 130px;">
          <figcaption>HIIT</figcaption>
        </figure>
        <figure style="text-align: center;margin-bottom: 10px;" (click)="seleccionarDeporte('BaileCardiovascular')" (click)="mostrarDetalles('BaileCardiovascular')">
          <img src="../../content/baile.png" style="width:170px;height: 130px;">
          <figcaption> Baile Cardiovascular</figcaption>
        </figure>
          <figure style="text-align: center;margin-bottom: 10px;" (click)="seleccionarDeporte('Pilates')" (click)="mostrarDetalles('Pilates')">
          <img src="../../content/pilates.png" style="width:170px;height: 130px;">
          <figcaption>Pilates</figcaption>
        </figure>
        <figure style="text-align: center;margin-bottom: 10px;" (click)="seleccionarDeporte('Boxeo')" (click)="mostrarDetalles('Boxeo')"> 
          <img src="../../content/boxeo.png" style="width:170px;height: 130px;">
          <figcaption>Boxeo</figcaption>
        </figure>
        </div>


        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymRubenApp.clasesOnline.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
            [(ngModel)]="descripcionClase"
          />
        </div>
        <div class="row mb-3">
          <label class="form-label"  for="field_fechaClase">Fecha</label>
          <input
            type="date"
            class="form-control"
            name="fechaClase"
            id="field_fechaClase"
            data-cy="fechaClase"
            formControlName="fechaClase"
            (change)="actualizarHorasDisponibles()"
          />
        </div>


        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymRubenApp.clasesOnline.instructor" for="field_instructor">Instructor</label>
          <input
            type="text"
            class="form-control"
            name="instructor"
            id="field_instructor"
            data-cy="instructor"
            formControlName="instructor"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_horaClase"
            >Horas Disponibles</label
          >
          <input
            type="hidden"
            class="form-control"
            name="horaClase"
            id="field_horaClase"
            data-cy="horaClase"
            formControlName="horaClase"
          />
        </div>
        <div *ngIf="horasDisponibles.length > 0">
          <div *ngFor="let hora of horasDisponibles">
            <label>
              <input type="radio" name="horaDisponible" [value]="hora" (change)="seleccionarHora(hora)" />
              {{ hora }}
            </label>
          </div>
        </div>
      </div>


      
       
      <div class="mt-4">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
    <div *ngIf="!nuevaConsulta">
      <span jhiTranslate="gestorDenunciasApp.clasesonline.home.introducirCodigo">Código de seguimiento: </span>
      <input type="text" [(ngModel)]="codigoBusqueda" />
      <button class="btn btn-secondary btn-sm" jhiTranslate="gestorDenunciasApp.clasesonline.home.buscar" (click)="buscarUUID()">
        Buscar
      </button>
    </div>     
  </div>
  <ng-template #elseBlockGuardado>
    <div *ngIf="guardado" class="alert alert-success" role="alert">
      <h4 class="alert-heading" jhiTranslate="gymRubenApp.clasesonline.creacionSolicitud">
        La solicitud ha sido procesada con éxito, código de seguimiento:
      </h4>
      <p>{{ codigo }}</p>
      <hr />
    </div>
  </ng-template>

</div>
