<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-planes-entrenamiento-heading"
        data-cy="PlanesEntrenamientoCreateUpdateHeading"
        jhiTranslate="gymRubenApp.planesEntrenamiento.home.createOrEditLabel"
      >
        Crear o editar Planes Entrenamiento
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymRubenApp.planesEntrenamiento.nombrePlan" for="field_nombrePlan">Nombre Plan</label>
          <input
            type="text"
            class="form-control"
            name="nombrePlan"
            id="field_nombrePlan"
            data-cy="nombrePlan"
            formControlName="nombrePlan"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymRubenApp.planesEntrenamiento.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymRubenApp.planesEntrenamiento.tipo" for="field_tipo">Tipo</label>
          <input type="text" class="form-control" name="tipo" id="field_tipo" data-cy="tipo" formControlName="tipo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymRubenApp.planesEntrenamiento.duracion" for="field_duracion">Duracion</label>
          <input type="number" class="form-control" name="duracion" id="field_duracion" data-cy="duracion" formControlName="duracion" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gymRubenApp.planesEntrenamiento.instrucciones" for="field_instrucciones"
            >Instrucciones</label
          >
          <input
            type="text"
            class="form-control"
            name="instrucciones"
            id="field_instrucciones"
            data-cy="instrucciones"
            formControlName="instrucciones"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
