<div class="d-flex justify-content-center" style="background-color: rgb(231, 224, 224);">
  <div *ngIf="!errorAlGuardar; else elseBlockError">
  <div *ngIf="!guardado; else elseBlockGuardado">   
    <h2 style="margin-left-200px: center;color: rgb(9, 201, 201);">Bienvenido a la seccion de planes de entrenamiento</h2>
    <div class="button-section" style="margin-left: 800px; margin-top: -40px;">
      <button type="button">
        <input type="text" placeholder="Código de seguimiento" [(ngModel)]="uuid" />
        <fa-icon icon="search"  [routerLink]="['/planes-entrenamiento', uuid, 'acceder']"></fa-icon>&nbsp;
        <span [routerLink]="['/planes-entrenamiento', uuid, 'acceder']" >Encuentra tu plan</span>
      </button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="text-container">
      <h2 style="font-size: 20px;">El deporte es toda aquella actividad
         física que involucra una serie de reglas o normas a desempeñar 
        dentro de un espacio o área determinada (campo de juego, cancha, pista, etc) 
        a menudo asociada a la competitividad deportiva.
        Hacer actividad física regularmente puede ayudarte a mantener fuertes
         tus habilidades para pensar, aprender y tener buen juicio con el pasar de los años. 
         También puede reducir tu riesgo de depresión y ansiedad, al igual que ayudarte a dormir mejor.
       
      </h2>
    </div>
    <div class="image-container">
    <img src="../../content/entrenamiento.png" style="width: 300px;height: 200px; margin-left:400px; margin-top: -20px;">
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
    <form
      name="editForm"
      role="form"
      novalidate
      (ngSubmit)="save()"
      [formGroup]="editForm"
      id="formulario"
      *ngIf="nuevaConsulta && !guardado"
    >
    <div>
      <jhi-alert-error></jhi-alert-error>

      <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
        <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
        <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
      </div>

      <div class="row mb-3">
        <label class="form-label"  style="font-size: 30px;text-align: center;" for="field_nombrePlan">Estos son los planes a los q te pudes apuntar, 
          <br>escoja el que mas te guste</label>
        
          
        <input
          type="hidden"
          class="form-control"
          name="nombrePlan"
          id="field_nombrePlan"
          data-cy="nombrePlan"
          formControlName="nombrePlan"
          [(ngModel)]="planSeleccionado"
        />
      </div>
      <br>
      <br>
      <br>
      <div style="display:flex;justify-content: space-around ; margin: 10px;">
        <figure style="text-align: center;margin-bottom: 10px;" (click)="seleccionarPlan('Definicion')" (click)="mostrarDetalles('Definicion')"  (click)="mostrarDetallesIntrucciones('Definicion')"  >
        <img src="../../content/definicion.png" style="width:270px;height: 200px;">
        <figcaption style="font-size:20px;">Definicion</figcaption>
      </figure>
      <figure style="text-align: center;margin-bottom: 10px;" (click)="seleccionarPlan('RecomposicionCorporal')" (click)="mostrarDetalles('RecomposicionCorporal')" (click)="mostrarDetallesIntrucciones('RecomposicionCorporal')">
        <img src="../../content/corporal.png" style="width:270px;height: 200px;">
        <figcaption style="font-size:20px;">RecomposicionCorporal</figcaption>
      </figure>
      <figure style="text-align: center;margin-bottom: 10px;" (click)="seleccionarPlan('Volumen')" (click)="mostrarDetalles('Volumen')"(click)="mostrarDetallesIntrucciones('Volumen')">
        <img src="../../content/volumen.png" style="width:270px;height: 200px;">
        <figcaption style="font-size:20px;">Volumen</figcaption>
      </figure>
      </div>
      <div *ngIf="seleccionOpcion">
      <div class="row mb-3">
        <label class="form-label" jhiTranslate="gymRubenApp.planesEntrenamiento.descripcion" for="field_descripcion">Descripcion</label>
        <textarea
          type="text"
          class="form-control"
          name="descripcion"
          id="field_descripcion"
          data-cy="descripcion"
          formControlName="descripcion"
          [(ngModel)]="descripcionPlan"
          style="border: none; background-color: transparent;outline: none;
          height: 100px;"
          readonly>
        </textarea>
        
      </div>
      <div class="row mb-3">
        <label class="form-label" jhiTranslate="gymRubenApp.planesEntrenamiento.instrucciones" for="field_instrucciones"
          >Instrucciones</label
        >
        <textarea
          type="text"
          class="form-control"
          name="instrucciones"
          id="field_instrucciones"
          data-cy="instrucciones"
          formControlName="instrucciones"
          [(ngModel)]="descripcionInstruccion"
          style="border: none; background-color: transparent;outline: none;
          height: 100px;"
          readonly>
        </textarea>
      </div>
    


      <div class="mt-4"  style="margin-left: 80%;">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </div>
    </div>
    </form>
    <div *ngIf="!nuevaConsulta">
      <span jhiTranslate="gestorDenunciasApp.clasesonline.home.introducirCodigo">Código de seguimiento: </span>
      <input type="text" [(ngModel)]="codigoBusqueda" />
      <button class="btn btn-secondary btn-sm" jhiTranslate="gestorDenunciasApp.clasesonline.home.buscar" (click)="buscarUUID()">
        Buscar
      </button>
    </div>     
  </div>
  <ng-template #elseBlockGuardado>
    <h2 style="margin-left-200px: center;">Bienvenido a la seccion de planes entrenamiento</h2>
    <div class="button-section" style="margin-left: 800px; margin-top: -40px;">
      <button type="button">
        <input type="text" placeholder="Código de seguimiento" [(ngModel)]="uuid" />
        <fa-icon icon="search"  [routerLink]="['/deportes', uuid, 'acceder']"></fa-icon>&nbsp;
        <span [routerLink]="['/deportes', uuid, 'acceder']" >Encuentra tu plan entrenamiento</span>
      </button>
    </div>
    <br>
    <br>
    <div *ngIf="guardado && !errorAlGuardar" class="confirmation-section">
      <div class="circle-check" >
        <fa-icon class="icon-ok" icon="check"></fa-icon>
      </div>
      <div class="line"></div>
      <div class="line-small"></div>
       <h4><strong>
       plan entrenamiento registrado Correctamente</strong></h4>
        <h5>
         El codigo es:</h5>
       <p><strong >
         {{ codigo }}</strong></p>
         <p>Utiliza este codigo para consultar los detalles del plan entrenamiento</p>
         <br>
         <br>
         <br>
       <button  (click)="pantallaCreacionEntrenamiento()" >
         Volver</button>
     </div>     

  </ng-template>
</div>
<ng-template #elseBlockError>
  <div *ngIf="errorAlGuardar" class="confirmation-error">
    <div class="circle-red"></div>
    <h4><strong> Se ha producido un error con el registro del plan entrenamiento</strong></h4>
    <button (click)="pantallaCreacionEntrenamiento()" >Volver</button>
  </div>
</ng-template>
</div>

