<div>
  <h2 id="page-heading" data-cy="PlanesNutricionHeading">
    <span jhiTranslate="gymRubenApp.planesNutricion.home.title">Planes Nutricions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gymRubenApp.planesNutricion.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-planes-nutricion"
        [routerLink]="['/planes-nutricion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gymRubenApp.planesNutricion.home.createLabel"> Crear nuevo Planes Nutricion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="planesNutricions?.length === 0">
    <span jhiTranslate="gymRubenApp.planesNutricion.home.notFound">Ningún Planes Nutricions encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="planesNutricions && planesNutricions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombrePlan">
            <div class="d-flex">
              <span jhiTranslate="gymRubenApp.planesNutricion.nombrePlan">Nombre Plan</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <div class="d-flex">
              <span jhiTranslate="gymRubenApp.planesNutricion.descripcion">Descripcion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          
          <th scope="col" jhiSortBy="instrucciones">
            <div class="d-flex">
              <span jhiTranslate="gymRubenApp.planesNutricion.instrucciones">Instrucciones</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alimentosRecomendados">
            <div class="d-flex">
              <span>Alimentos Recomendados</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let planesNutricion of planesNutricions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/planes-nutricion', planesNutricion.id, 'view']">{{ planesNutricion.id }}</a>
          </td>
          <td>{{ planesNutricion.nombrePlan }}</td>
          <td>{{ planesNutricion.descripcion }}</td>>
          <td>{{ planesNutricion.instrucciones }}</td>
          <td>{{ planesNutricion.alimentosRecomendados }}</td>
  
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/planes-nutricion', planesNutricion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/planes-nutricion', planesNutricion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(planesNutricion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
