<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-GLhlTQ8iKt6vdoU/6/euNDPiS+Bi1u0I2wj5fSNsAqDCKqDvcL+uqL7wgmeM2j7Q" crossorigin="anonymous">

<div style="text-align: center; margin-left: -1.5%;" > 
  <img src="../../content/portada1.png"  style= " width: 1323px;height: 700px; margin-top: -1.5%; "   />

</div>
<br>
<br>
<div class="contenedor">
 <span  class="texto">Nuestros programas
 </span>
 <br>
 <br>

 <p style="font-weight: bold;font-family: italic;font-size: 18px;">Apuntate gratis a nuestros programas, aprovecha la oportunidad<br>
  Vive la experiencia de entrenar con InstaFit a la hora que quieras y desde donde sea</p>

 <br>
 <br>
 <div class="caja">
  <a style="text-decoration: none;"  routerLink="/deportes/new">
  <img src="../../content/deportes1.jpg" style="width: 250px; height: 150px; margin-left: -700px;" >

  <p class="texto-caja" style="margin-left: -700px;">Deportes</p>
</a>
</div>
 <div class="caja">
  <a style="text-decoration: none;"  routerLink="/clases-online/new">
  <img src="../../content/claseonline.jpg" style="width: 250px; height: 150px; margin-left: -250px;" >

  <p class="texto-caja" style="margin-left: -250px;">Clases Online</p>
  </a>
 </div> 
 <div class="caja">
  <a style="text-decoration: none;"  routerLink="/planes-entrenamiento/new">
  <img src="../../content/entrenamiento.png" style="width: 250px; height: 150px; margin-left: 20px;" >
  <p class="texto-caja" style="margin-left: 50px; width: 200px;"> Planes Entrenamiento</p>
  </a>
 </div>
 <div class="caja">
  <a style="text-decoration: none;" routerLink="/planes-nutricion/new">
  <img src="../../content/nutricion.png" style="width: 250px; height: 150px; margin-left: 250px;" >
  <p class="texto-caja" style="margin-left: 280px; width: 200px;">Planes Nutricion</p>
  </a> 
 </div> 
</div>


<br>
<br>
<br>
<br>
<br>
<div class="contenedor" style="background-color: rgb(255, 255, 255);">
  <span  class="texto">Nuestros Instructores
  </span>
  <br>
  <br>
 
  <p style="font-weight: bold;font-family: italic;font-size: 18px;">Aqui en nuestra ruben gym contamos con los mejores instructores del pais,apuntate para aprender de ellos</p>
 
  <br>
  <br>
  <div class="caja">
   <a style="text-decoration: none;" >
   <img src="../../content/persona1.png" style="width: 120px; height: 130px; margin-left: -900px;" >
 
   <p class="texto-caja" style="margin-left: -900px;">Ruben</p>
 </a>
 </div>
  <div class="caja">
   <a style="text-decoration: none;">
   <img src="../../content/persona2.png"  style="width: 120px; height: 130px; margin-left: -450px;" >
 
   <p class="texto-caja" style="margin-left: -450px;">Julio</p>
   </a>
  </div> 
  <div class="caja">
   <a style="text-decoration: none;" >
   <img src="../../content/persona3.png" style="width: 120px; height: 130px; margin-left: -50px;" >
   <p class="texto-caja" style="margin-left: -90px; width: 200px;">Miriam</p>
   </a>
  </div>
  <div class="caja">
   <a style="text-decoration: none;">
   <img src="../../content/persona4.png"  style="width: 120px; height: 130px; margin-left: 200px;" >
   <p class="texto-caja" style="margin-left: 170px; width: 180px;">Yeray</p>
   </a> 
  </div> 
  <div class="caja">
    <a style="text-decoration: none;" >
    <img src="../../content/persona5.png"  style="width: 120px; height: 130px; margin-left: 400px;" >
    <p class="texto-caja" style="margin-left: 360px; width: 205px;">Inmaculada</p>
    </a> 
   </div> 
 </div>
 
<br>
<br>
<br>
<br>
<div style="width: 1325px;margin-left: -20px;">
  <footer class="footer">
    <div class="container">
      <div class="footer-row">
        <div class="footer-column" style="margin-left: -50px;">
          <div class="footer-link">
            <h4>Compañía</h4>
            <ul>
              <li style="text-align: justify; letter-spacing: -1px;">Somos una nueva compañia, que hemos apaostado por el mundo del fitnes para ayudar a las personas que quieran hacer un cambio en su vida pero no saben como empezar</li>
              
            </ul>
          </div>
        </div>
        <div class="footer-column" style="margin-left: 80px;">
          <div class="footer-link">
            <h4>Beneficios</h4>
            <ul>
              <li>Gratuito</li>
              <li>Bienestar</li>
              <li>Buenos Profesionales</li>
              <li>Buena Adaptación</li>
            </ul>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-link">
            <h4>Ayuda</h4>
            <ul>
              <li>Disponible las 24 horas</li>
              <li>Preguntas</li>
              <li>Estatus de Orden</li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="footer-column" style="margin-left: 880px; margin-top: -294px;">
          <div class="footer-link">
            <h4>Síguenos</h4>
            <div class="social-link">
              <a href="http://instagram.com/rubiii_bv" target="_blank"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
              <a href="http://twitter.com/Rubiii07" target="_blank"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
              <a href="mailto:ruben04bv@gmail.com?subject=Asunto del correo&body=Mensaje del cuerpo de correo">
                <fa-icon [icon]="['fas','envelope']"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
  
