<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-GLhlTQ8iKt6vdoU/6/euNDPiS+Bi1u0I2wj5fSNsAqDCKqDvcL+uqL7wgmeM2j7Q" crossorigin="anonymous">

<div style="text-align: center; margin-left: -1.5%;" > 
  <img src="../../content/portada1.png"  style= " width: 1323px;height: 700px; margin-top: -1.5%; "   />

</div>
<br>
<br>
<div class="contenedor">
 <span  class="texto">Nuestros programas
 </span>
 <br>
 <br>

 <p style="font-weight: bold;">Apuntate gratis a nuestros programas, aprovecha la oportunidad<br>
  Vive la experiencia de entrenar con InstaFit a la hora que quieras y desde donde sea</p>

 <br>
 <br>
 <div class="caja">
  <a style="text-decoration: none;"  routerLink="/deportes/new">
  <img src="../../content/deportes1.jpg" style="width: 250px; height: 150px; margin-left: -700px;" >

  <p class="texto-caja" style="margin-left: -700px;">Deportes</p>
</a>
</div>
 <div class="caja">
  <a style="text-decoration: none;"  routerLink="/clases-online">
  <img src="../../content/claseonline.jpg" style="width: 250px; height: 150px; margin-left: -250px;" >

  <p class="texto-caja" style="margin-left: -250px;">Clases Online</p>
  </a>
 </div> 
 <div class="caja">
  <a style="text-decoration: none;"  routerLink="/planes-entrenamiento">
  <img src="../../content/entrenamiento.png" style="width: 250px; height: 150px; margin-left: 20px;" >
  <p class="texto-caja" style="margin-left: 50px; width: 200px;"> Planes Entrenamiento</p>
  </a>
 </div>
 <div class="caja">
  <a style="text-decoration: none;" routerLink="/planes-nutricion">
  <img src="../../content/nutricion.png" style="width: 250px; height: 150px; margin-left: 250px;" >
  <p class="texto-caja" style="margin-left: 280px; width: 200px;">Planes Nutricion</p>
  </a> 
 </div> 
</div>

<br>
<br>
<br>
<br>
<br>
  <footer class="footer">
    <div class="container">
      <div class="footer-row">
        <div class="footer-column">
          <div class="footer-link">
            <h4>Compañía</h4>
            <ul>
              <li style="text-align: justify; letter-spacing: -1px;">Somos una nueva compañia, que hemos apaostado por el mundo del fitnes para ayudar a las personas que quieran hacer un cambio en su vida pero no saben como empezar</li>
              
            </ul>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-link">
            <h4>Beneficios</h4>
            <ul>
              <li>Gratuito</li>
              <li>Bienestar</li>
              <li>Buenos Profesionales</li>
              <li>Buena Adaptación</li>
            </ul>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-link">
            <h4>Ayuda</h4>
            <ul>
              <li>Disponible las 24 horas</li>
              <li>Preguntas</li>
              <li>Estatus de Orden</li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="footer-column" style="margin-left: 830px; margin-top: -294px;">
          <div class="footer-link">
            <h4>Síguenos</h4>
            <div class="social-link">
              <a href="#"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
              <a href="#"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
              <a href="#"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
              <a href="#"><fa-icon icon='envelope'></fa-icon></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
