.sheet-col {
    color: green;
  }
  .pdf-col {
    color: red;
  }
  .img-col {
    color: purple;
  }

  .p-5 {
    padding: 10px !important;
  }
  .fichero-btn {
    margin-left: 10px;
    border: 0;
    background-color: white;
  }
  