<div class="contenido">
  <div class="titulo">
    
    <div class="button-section">
      <button type="button">
        <input type="text" placeholder="Código de seguimiento" [(ngModel)]="uuid" />
        <fa-icon [routerLink]="['/deportes', uuid, 'acceder']" icon="search"></fa-icon>
        <span [routerLink]="['/deportes', uuid, 'acceder']">Encuentra tu deporte</span>
      </button>
    </div>
  </div>
  <div *ngIf="deporte">
    <div class="row g-2">
      <div class="col-9">
        <div class="fondo-gris h-98 p-5px">
          <h5 class="borde-bottom">
            <strong>Denuncia nº {{ deporte.codigo }}</strong>
          </h5>
          <p class="p-l-15"><strong>Titulo</strong></p>
          <p class="p-l-15">{{ deporte.nombreDeporte }}</p>
          <p class="p-l-15 mb-5px"><strong>Descripción</strong></p>
          <quill-view [content]="deporte.descripcion"></quill-view>
        </div>
      </div>
      <div class="col-3">

      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="fondo-gris">
          <h5><strong>Comentarios</strong></h5>
          <div class="chat" #divScroll (scroll)="onScroll($event)" *ngIf="comentariosBuscados && comentariosBuscados.length > 0">
            <div
              *ngFor="let comentario of comentariosBuscados"
              [ngClass]="{ 'mb-3': comentario.descripcion }"
            >
              <div
                class="gris"
                *ngIf="comentario.descripcion !== null"
                [ngClass]="{ enviado: comentario.creador === 'ANÓNIMO', recibido: comentario.creador !== 'ANÓNIMO' }"
              >
                <label class="fs-sm"> {{ comentario.creador }}:{{ comentario.fechaCreacion?.fromNow() }} </label>
              </div>
              <div
                *ngIf="comentario.descripcion !== null"
                [ngClass]="{ enviado: comentario.creador === 'ANÓNIMO', recibido: comentario.creador !== 'ANÓNIMO' }"
              >
                <div style="height: 45px; " [ngClass]="{ mensajeEnv: comentario.creador === 'ANÓNIMO', mensajeRec: comentario.creador !== 'ADMIN' }">
                  <quill-view [content]="comentario.descripcion" style="height: 10px;"></quill-view>
                </div>
              </div>
            </div>
            <div class="bajar" id="miBoton" *ngIf="!showBajar">
              <button class="btn btn-chat" (click)="scroll()">
                <fa-icon icon="arrow-down"></fa-icon>
                bajar
              </button>
            </div>
            <div id="scroll"></div>
          </div>
          <div>
            <jhi-comentario-deporte-update (guardado)="cargaDatos()"> </jhi-comentario-deporte-update>
          </div>
        </div>
      </div>
      <div class="col-4">
       
        <div class="btn-salir">
          <button class="btn btn-primary btn-volver" (click)="previousState()">volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="img-bottom"></div>
