
<div style="background-color:#adadad; width: 1335px;margin-left: -20px;margin-top: -20px;margin-bottom: -20px;">
<div class="d-flex justify-content-center">
  <div *ngIf="!errorAlGuardar; else elseBlockError">
    <div *ngIf="!guardado; else elseBlockGuardado">   

      <h2 style="margin-left-200px: center;color: rgb(255, 255, 255);font-style: italic">Bienvenido a la seccion de deportes</h2>
      <div class="button-section" style="margin-left: 800px; margin-top: -40px;">
        <button type="button">
          <input type="text" placeholder="Código de seguimiento" [(ngModel)]="uuid" />
          <fa-icon icon="search"  [routerLink]="['/deportes', uuid, 'acceder']"></fa-icon>&nbsp;
          <span [routerLink]="['/deportes', uuid, 'acceder']" >Encuentra tu deporte</span>
        </button>
      </div>

      <br>
      <br>
      <br>
      <br>

      <div class="container">
        <div class="text-container">
        <h2 style="font-size: 20px; color: white;font-style: italic;">El deporte es toda aquella actividad
           física que involucra una serie de reglas o normas a desempeñar 
          dentro de un espacio o área determinada (campo de juego, cancha, pista, etc) 
          a menudo asociada a la competitividad deportiva.
          Hacer actividad física regularmente puede ayudarte a mantener fuertes
           tus habilidades para pensar, aprender y tener buen juicio con el pasar de los años. 
           También puede reducir tu riesgo de depresión y ansiedad, al igual que ayudarte a dormir mejor.
         
        </h2>
      </div>
      <div class="image-container">
      <img src="../../content/deportes1.jpg" style="width: 300px;height: 200px; margin-left:400px; margin-top: -20px;">
    </div>
  </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
   
      <form
        name="editForm"
        role="form"
        novalidate
        (ngSubmit)="save()"
        [formGroup]="editForm"
        id="formulario"
        *ngIf="nuevaConsulta && !guardado"
      >
        <div>
          <jhi-alert-error></jhi-alert-error>
          <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
  
          <div class="row mb-3">
            <label class="form-label "for="field_nombreDeporte" style="font-size: 30px;text-align: center;color: white;font-weight: bold;font-style: italic;">Escoja un deporte 
  </label>
          
            <input
              type="hidden"
              class="form-control"
              name="nombreDeporte"
              id="field_nombreDeporte"
              data-cy="nombreDeporte"
              formControlName="nombreDeporte"
              [(ngModel)]="deporteSeleccionado"
              
            />
          </div>
          <br>
          <br>
          <div style="display:flex;justify-content: space-around ; margin: 10px;">
            <figure style="text-align: center;margin-bottom: 10px;" (click)="seleccionarDeporte('Tenis')" (click)="mostrarDetalles('Tenis')" (click)="mostrarInstructor('EntrenamientoFuncional')"  >
            <img src="../../content/tenis.png" style="width:230px;height: 180px;">
            <figcaption style="font-size:20px; color: white;font-style: italic" >Tenis</figcaption>
          </figure>

          <figure style="text-align: center;margin-bottom: 10; margin-left: 100px;" (click)="seleccionarDeporte('Padel')" (click)="mostrarDetalles('Padel')" (click)="mostrarInstructor('Padel')" >
            <img src="../../content/padel.png" style="width:230px;height: 180px;">
            <figcaption style="font-size:20px;color: white;font-style: italic">Padel</figcaption>
          </figure>
          <figure style="text-align: center;margin-bottom: 10px;  margin-left: 100px;" (click)="seleccionarDeporte('Baloncesto')" (click)="mostrarDetalles('Baloncesto')" (click)="mostrarInstructor('Baloncesto')" >
            <img src="../../content/baloncesto.png" style="width:230px;height: 180px;">
            <figcaption style="font-size:20px; color: white;font-style: italic">Baloncesto</figcaption>
          </figure>
     
        </div>

   
        <div style="display:flex;justify-content: space-around ; margin: 10px;margin-left: -90px;">
          <figure style="text-align: center;margin-bottom: 10px;  margin-left: 100px;" (click)="seleccionarDeporte('Spinning')" (click)="mostrarDetalles('Spinning')" (click)="mostrarInstructor('Spinning')" >
            <img src="../../content/bici.jpg"style="width:230px;height: 180px;">
            <figcaption style="font-size:20px;color: white;font-style: italic">Spinning</figcaption>
          </figure>
            <figure style="text-align: center;margin-bottom: 10px;  margin-left: 100px;" (click)="seleccionarDeporte('Crosfit')" (click)="mostrarDetalles('Crosfit')" (click)="mostrarInstructor('Crosfit')" >
            <img src="../../content/crosfit.jpg" style="width:230px;height: 180px;">
            <figcaption style="font-size:20px;color: white;font-style: italic">Crosfit</figcaption>
          </figure>
          <figure style="text-align: center;margin-bottom: 10px;  margin-left: 100px;" (click)="seleccionarDeporte('Zumba')" (click)="mostrarDetalles('Zumba')" (click)="mostrarInstructor('Zumba')" > 
            <img src="../../content/zumba.png" style="width:230px;height: 180px;">
            <figcaption style="font-size:20px;color: white;font-style: italic" >Zumba</figcaption>
          </figure>
          </div>
          <br>
          <br>
          <br>
         <div *ngIf="seleccionOpcion">
          <div class="row mb-3">
            <label class="form-label" for="field_descripcion" style="color: white;font-weight: bold;">Descripcion del deporte</label>
            <textarea
              type="textarea"
              class="form-control"
              name="descripcion"
              id="field_descripcion"
              data-cy="descripcion"
              formControlName="descripcion"
              [(ngModel)]="descripcionDeporte"
              style="border: none; background-color: transparent;outline: none;
              height: 100px;color: white;"
              readonly>
              
          </textarea>
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_instructor" style="font-size: 18px;margin-left: 28px;color: white;font-weight: bold;">Instructor de la clase</label>
            <input
              type="hidden"
              class="form-control"
              name="instructor"
              id="field_instructor"
              data-cy="instructor"
              formControlName="instructor"
              [(ngModel)]="instructorSeleccionado"
              
            />
          </div>

          <div  style="display:flex;justify-content: space-around ; margin: 10px;">
            <div style="margin-left: -380px;">
            <figure style=" text-align: center;margin-bottom: 10px;" *ngIf="deporteSeleccionado=='Tenis'" (click)="instructorElejir('Ruben')" >
              <img src="../../content/persona1.png" style="width:130px;height: 130px; border-radius: 50%;">
              <figcaption style="color: white;font-weight: bold;">Ruben</figcaption>
            </figure>
            <figure style="text-align: center;margin-bottom: 10px;" *ngIf="deporteSeleccionado=='Padel'" (click)="instructorElejir('Julio')" >
              <img src="../../content/persona2.png" style="width:140px;height: 130px;border-radius: 50%">
              <figcaption style="color: white;font-weight: bold;">Julio</figcaption>
            </figure>
            <figure style="text-align: center;margin-bottom: 10px;" *ngIf="deporteSeleccionado=='Baloncesto'" (click)="instructorElejir('Miriam')" >
              <img src="../../content/persona3.png" style="width:130px;height: 130px;border-radius: 50%">
              <figcaption style="color: white;font-weight: bold;">Miriam </figcaption>
            </figure>
              <figure style="text-align: center;margin-bottom: 10px;" *ngIf="deporteSeleccionado=='Spinning'" (click)="instructorElejir('Yeray')" >
              <img src="../../content/persona4.png" style="width:130px;height: 130px;border-radius: 50%">
              <figcaption style="color: white;font-weight: bold;">Yeray</figcaption>
            </figure>
            <figure style="text-align: center;margin-bottom: 10px;" *ngIf="deporteSeleccionado=='Crosfit'" (click)="instructorElejir('Inmaculada')" >
              <img src="../../content/persona5.png" style="width:130px;height: 130px;border-radius: 50%">
              <figcaption style="color: white;font-weight: bold;">Inmaculada</figcaption>
            </figure>
            <figure style="text-align: center;margin-bottom: 10px;" *ngIf="deporteSeleccionado=='Zumba'" (click)="instructorElejir('Ruben')" >
              <img src="../../content/persona1.png" style="width:130px;height: 130px;border-radius: 50%">
              <figcaption style="color: white;font-weight: bold;">Ruben</figcaption>
            </figure>
     
          </div>
          <div style="margin-left: -500px;margin-top: -50px;">
          <div class="row mb-3">
            <label class="form-label" for="field_fechaDeporte" style="color: white;font-weight: bold;">Elije una fecha</label>
            <input
              type="date"
              style="width: 200px;"
              class="form-control"
              name="fechaDeporte"
              id="field_fechaDeporte"
              data-cy="fechaDeporte"
              formControlName="fechaDeporte"
              (change)="actualizarHorasDisponibles()"
              [min]="minFecha()"
       
            />
          </div>
        </div>
        </div>
        </div>
  
  
          <div style="margin-left: 1000px; margin-top: -225px;" class="row mb-3" *ngIf="fechaSeleccionada">
            <label class="form-label" for="field_horaDeporte" style="color: white;font-weight: bold;">Horas disponibles</label>
            <input
              type="hidden"
              class="form-control"
              name="horaDeporte"
              id="field_horaDeporte"
              data-cy="horaDeporte"
              formControlName="horaDeporte"
            />
          </div>
          <div style="margin-left: 950px;" *ngIf="horasDisponibles.length > 0">
         <ng-container *ngFor="let hora of getHorasDisponibles(fechaSeleccionada)">
      <label style="margin-right: 10px;color: white;" >
        <input type="radio" name="horaDisponible" [value]="hora" (change)="seleccionarHora(hora)"  style="color: white;" />
        {{ hora }}
      </label>
     
 
  </ng-container>
  <div *ngIf="horasDisponibles.length===0">
    <p style="font-size: 30px;">Hola</p>
  </div>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
      
        <div class="mt-4" style="margin-left: 80%;">
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
          </button>
        </div>
     
    </div>
      </form>
      <div *ngIf="!nuevaConsulta">
        <span jhiTranslate="gestorDenunciasApp.deportes.home.introducirCodigo">Código de seguimiento: </span>
        <input type="text" [(ngModel)]="codigoBusqueda" />
        <button class="btn btn-secondary btn-sm" jhiTranslate="gestorDenunciasApp.deportes.home.buscar" (click)="buscarUUID()">
          Buscar
        </button>
      </div>     
    </div>
    <ng-template #elseBlockGuardado >
<div style="background-color: rgb(243, 250, 250); width: 1335px;margin-top: 0px; margin-bottom: -30px;">
      <h2 style="margin-left:100px;font-style: italic;color: #467f8e;font-size: 40px;"><strong> Sección Deportes</strong></h2>
      <div class="button-section" style="margin-left: 900px; margin-top: -40px;">
        <button type="button">
          <input type="text" placeholder="Código de seguimiento" [(ngModel)]="uuid" />
          <fa-icon icon="search"  [routerLink]="['/deportes', uuid, 'acceder']"></fa-icon>&nbsp;
          <span [routerLink]="['/deportes', uuid, 'acceder']" >Encuentra tu deporte</span>
        </button>
      </div>
<br>
<br>
<br>
      <div *ngIf="guardado && !errorAlGuardar" class="confirmation-section">
        <div class="circle-check" >
          <fa-icon class="icon-ok" icon="check"></fa-icon>
        </div>
        <div class="line"></div>
        <div class="line-small"></div>
         <h4><strong>
         Deporte  registrado Correctamente</strong></h4>
          <h5>
           El codigo es:</h5>
         <p><strong >
           {{ codigo }}</strong></p>
           <p>Utiliza este codigo para consultar los detalles del deporte</p>
           <br>
           <br>
           <br>
         <button style="margin-left: 1000px;"  (click)="pantallaCreacionDeportes()" >
           Volver</button>
       </div>     
      </div>
    </ng-template>
  </div>
  <ng-template #elseBlockError>
    <div *ngIf="errorAlGuardar" class="confirmation-error">
      <div class="circle-red"></div>
      <h4><strong> Se ha producido un error con el registro del deporte</strong></h4>
      <button (click)="pantallaCreacionDeportes()" >Volver</button>
    </div>
  </ng-template>
</div>
</div>