<div class="contenido">
  <div class="titulo">
  </div>
  <div *ngIf="deportes">
    <div class="row g-2">
      <div class="col-9">
        <div class="fondo-gris h-98 p-5px">
          <h5 class="borde-bottom">
            <strong>Denuncia nº {{ deportes.codigo }}</strong>
          </h5>
          <p class="p-l-15"><strong>Titulo</strong></p>
          <p class="p-l-15">{{ deportes.nombreDeporte }}</p>
          <p class="p-l-15"><strong>Descripción</strong></p>
          <quill-view [content]="deportes.descripcion"></quill-view>
        </div>
      </div>
 
    </div>
    <div class="row">
      <div class="col-8">
        <div class="fondo-gris">
          <h5><strong>Comentarios</strong></h5>
          <div class="chat" #divScroll (scroll)="onScroll($event)" *ngIf="comentariosBuscados && comentariosBuscados.length > 0">
            <div
              *ngFor="let comentario of comentariosBuscados"
              [ngClass]="{ 'mb-3': comentario.descripcion}"
            >
              <div
                class="gris"
                *ngIf="comentario.descripcion !== null"
                [ngClass]="{ enviado: comentario.creador !== 'ANÓNIMO', recibido: comentario.creador === 'ANÓNIMO' }"
              >
                {{ comentario.creador }}:{{ comentario.fechaCreacion?.fromNow() }}
              </div>
              <div
                *ngIf="comentario.descripcion !== null"
                [ngClass]="{ enviado: comentario.creador !== 'ANÓNIMO', recibido: comentario.creador === 'ANÓNIMO' }"
              >
                <div  [ngClass]="{ mensajeEnv: comentario.creador !== 'ANÓNIMO', mensajeRec: comentario.creador === 'ANÓNIMO' }">
                  <quill-view [content]="comentario.descripcion"></quill-view>
                </div>
              </div>
          
            </div>
            <div class="bajar" id="miBoton" *ngIf="!showBajar">
              <button class="btn btn-chat" (click)="scroll()">
                <fa-icon icon="arrow-down"></fa-icon>
                bajar
              </button>
            </div>
            <div id="scroll"></div>
          </div>
          <div>
            <jhi-comentario-update (guardado)="cargaDatos()"> </jhi-comentario-update>
          </div>
        </div>
      </div>
      <div class="col-4">
        
        <div class="btn-salir">
          <button class="btn btn-primary btn-volver" (click)="previousState()">volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="img-bottom"></div>
